

.form-div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
    box-shadow: 0 10px 25px #ddd;
    font-family: 'Lato', sans-serif;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-width: 528px;
    max-height: 635px;    
}

.login-form-h1 {
    text-align: center;
}

.form-description {
    font-size: 16px;
    color: #616061;
}

.login-form-description {
    font-size: 16px;
    color: #616061;
    text-align: center;
}

.form-input {
    width: 504px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.form-button {
    width: 100%;
    display: block;
    background-color: #007a5a;
    color: #FFFFFF;
    // border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-button:hover {
    background: #148567;
    cursor: pointer;
}

.form-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

// .login-errors-ul {

    
// }

.login-error {
    background-color: rgba(224, 30, 90, .1);
    border-left: 1px solid rgba(224,30,90,.4);
    border-bottom: 1px solid rgba(224,30,90,.4);
    border-right: 1px solid rgba(224,30,90,.4);
    list-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.login-error:before {
    content: "\26A0     ";
    color: #e01e5a;
}