
.form-div {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
    box-shadow: 0 10px 25px #ddd;
    border-radius: 10px;
    border: 1px solid #ddd;
    max-width: 528px;
    max-height: 635px;    
}

.login-form-h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -1px;
    text-align: center;
    font-weight: 700;
    margin: 0 0 1rem;
}

.signup-form-h1 {
    font-size: 28px;
    line-height: 1.2143;
    font-weight: 800px;
    letter-spacing: -1px;
    margin-bottom: .25rem;
}

.signup-form-description {
    margin: 0 0 1rem;
    font-size: 16px;
    color: #616061;
}

#demo-login-div {
    text-align: center;
}

#demo-login-button {
    text-decoration: underline;
    cursor: pointer;
}

#demo-login-button:hover {
    color: #4c9689;
}

.login-form-description {
    margin: 0 0 1rem;
    font-size: 16px;
    color: #616061;
    text-align: center;
}

.form-input {
    width: 504px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;
}

.form-button {
    width: 100%;
    display: block;
    background-color: #007a5a;
    border: 1px solid #007a5a;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 12px;
    font-weight: 800;
    font-size: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-button:hover {
    background: #148567;
    cursor: pointer;
}

.form-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.errors-ul {
    width: 530px;
}

.error {
    background-color: rgba(224, 30, 90, .1);
    border-left: 1px solid rgba(224,30,90,.4);
    border-bottom: 1px solid rgba(224,30,90,.4);
    border-right: 1px solid rgba(224,30,90,.4);
    list-style: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.error:before {
    content: "\26A0     ";
    color: #e01e5a;
}