.channels-wrapper {
    position: relative;
    // font-family: 'Lato', sans-serif;
    background-color: #3F0D40;
    height: 100%;
    margin: 0;
}

.channels-header {
    display: inline-block;
}

.fa-caret-down {
    transition: 0.5s;
    color: #c3b4c4;
    margin-left: 15px;;
}

.fa-plus {
    color: #c3b4c4;
    font-weight: 700;
    padding: 5px;
}

.channel-fa-plus {
    margin-left: 120px;
}

.dm-fa-plus {
    margin-left: 68px;
}

.fa-plus:hover {
    background-color: rgba(255,255,255,0.1);
    cursor: pointer;
}

.caret-toggled {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.channels-toggle-button {
    background-color: #3F0D40;
    color: #c3b4c4;
    border: none;
    // font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 15px;
}

.dms-toggle-button {
    background-color: #3F0D40;
    color: #c3b4c4;
    border: none;
    // font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 15px;
}

.channels-toggle-button:focus {
    outline:0;
}

.dms-toggle-button:focus {
    outline:0;
}

.channels-ul {
    line-height: 150%;
}

.channel-li {
    padding-left: 25px;
    padding-right: 15px;
    color: #c3b4c4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.channel-li-current {
    padding-left: 25px;
    padding-right: 15px;
    color: #c3b4c4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #1164A3;
}

.channel-li a {
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #c3b4c4;
    text-decoration: none;
}

.channel-li-current a {
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}

// .channel-hash {
//     font-size: 15px;
// }

.channel-li:hover {
    cursor: pointer;
    background-color: #350C36;
}

.dms-ul {
    line-height: 150%;
    text-overflow: ellipsis;
}

.dm-li {
    padding-left: 25px;
    padding-right: 15px;
    color: #c3b4c4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dm-li-current {
    padding-left: 25px;
    padding-right: 15px;
    color: #c3b4c4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #1164A3;
}

.dm-li a {
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #c3b4c4;
    text-decoration: none;
}

.dm-li-current a {
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #ffffff;
    text-decoration: none;
}

.dm-li:hover {
    cursor: pointer;
    background-color: #350C36;
}

