.channel-viewport {
    height: 100%;
    display: grid;
    grid-template-columns: 260px auto;
}

.channel-header {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E2E1E1;
}

.channel-header-left {
    margin: 20px 0px 10px 20px;
}

.channel-header-right {
    margin-right: 20px;
    color: gray;
}

.channel-title {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
}

.subs-pins-addtopic {
    font-size: 14px;
}