.channels-wrapper {
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: #3F0D40;
    height: 100%;
    margin: 0;
}

.fa-caret-right {
    transition: 0.5s;
    color: #c3b4c4;
    margin-left: 15px;;
}

.fa-caret-right:hover {
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}

.channels-toggle-button {
    background-color: #3F0D40;
    color: #c3b4c4;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 15px;
}

.dms-toggle-button {
    background-color: #3F0D40;
    color: #c3b4c4;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 15px;
}

.channels-toggle-button:focus {
    outline:0;
}

.dms-toggle-button:focus {
    outline:0;
}

.channels-ul {
    line-height: 150%;
    text-overflow: ellipsis;
}

.channel-li {
    padding-left: 25px;
    padding-right: 15px;
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #c3b4c4;
}

.channel-hash {
    font-size: 15px;
}

.channel-li:hover {
    color: #ffffff;
    background-color: #350C36;
}

.dm-li {
    padding-left: 25px;
    padding-right: 15px;
    list-style: none;
    font-size: 15px;
    line-height: 28px;
    color: #c3b4c4;
}

.dm-li:hover {
    color: #ffffff;
    background-color: #350C36;
}

.channel-viewport {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 255px 80%;
    // grid-template-rows: 100%;
}