.message-wrapper {
    display: flex;
    padding: 8px 10px;
}

.beige {
    display: flex;
    padding: 8px 10px;
    background: #FEFAEE;
}

.beige:hover {
    background: #FEFAEE;
}

.message-wrapper:hover {
    background: #f8f8f8;
}

.username {
    font-weight: 900;
}

.username:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.username-timestamp {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timestamp {
    font-size: 12px;
    margin-left: 5px;
    color: #7D7C7D;
}

.message-avatar {
    width: 40px;
    height: 40px;
    border: 0px solid transparent;
    border-radius: 4px;
}

.message {
    margin-top: 5px;
}

.update-message-container {
    display: none;
}

.edit-message-modal {
    display: none;
    // position: absolute;
    // left: 50%;
    // top: -5px;
    // float: right;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.editable-message:hover .edit-message-modal {
    display: block;
}

.message-edit-button {
    // position: relative;
    // left: 200%;
    // top: -10px;
}

.update-message-container {
    margin-left: 20px;
}

.message-update-input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}