.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  height: 520px;
  width: 520px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

#modal-header {
  display: inline-flex;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
}

#new-channel-form-h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
  font-weight: 700;
  
}

#modal-closer {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: 400;
  color: rgba(var(--sk_foreground_max,29,28,29),.7);
  border: none;
  z-index: 1;
  border-radius: 4px;
  cursor: pointer;
}

#modal-closer:hover {
  background: rgba(var(--sk_foreground_min,29,28,29),.04);
  color: rgba(var(--sk_primary_foreground,29,28,29),1);
}

#modal-closer:focus {
  outline: 0;
}