.navbar-div {
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.navbar-ul {
    // width: 100%;
    margin-left:5%;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar-button-ul {
    position: absolute;
    left: 80%;
}

.navbar-logo {
    width: 125px;
    height: 50px;
    display: inline-block;
}

.navbar-li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    // font-size: 16px;
}

.navbar-icon {
    font-size: 20px;
}

.navbar-li a {
    text-decoration: none;
}

.navbar-li a:visited {
    text-decoration: none;
    color: black;
}

.navbar-li a:hover {
    text-decoration: underline;
    color: #4c9689;
}

.navbar-form-li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-form-li a {
    text-decoration: none;
    color: black;
}

.navbar-form-li a:visited {
    text-decoration: none;
    color: #000000;
}

.navbar-form-li a:hover {
    text-decoration: underline;
    color: #4c9689;
}

.navbar-form-signup {
    display: inline-block;
    padding: .75rem 1rem;
    background-color: #611f69;
    color: #FFFFFF;
    border-radius: 4px;
    transition: 0.3s;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .8px;
    word-break: break-word;
}

.navbar-form-signup:hover {
    background-color: #4A154B;
    cursor: pointer;
}

.navbar-form-signup a {
    border-left: 10px;
    border-right: 10px;
    border-top: 15px;
    border-bottom: 15px;
    text-decoration: none;
    color: white;
}

.navbar-form-signup a:visited {
    text-decoration: none;
    color: #FFFFFF;
}