.navbar-div {
    border-bottom: 2px solid #ccc;
}

.navbar-ul {
    width: 100%;
    margin-left:5%;
    display: flex;
    align-items: center;
    list-style: none;

}

.navbar-button-ul {
    position: absolute;
    right: 25%;
}

.navbar-logo {
    width: 125px;
    height: 50px;
    display: inline-block;
}

.navbar-li {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-li:hover {
    text-decoration: underline;
    color: #4c9689;
}

// .navbar-li-link {
//     font-family: 'Lato', sans-serif;
//     display: inline-block;
//     padding-left: 15px;
//     padding-right: 15px;
// }


// .navbar-li-link:hover {
//     text-decoration: underline;
//     color: #4c9689;
// }

.navbar-form-li {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-form-li a {
    text-decoration: none;
}

.navbar-form-li a:visited {
    text-decoration: none;
    color: #000000;
}

.navbar-form-li a:hover {
    text-decoration: underline;
    color: #4c9689;
}

.navbar-form-signup {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #611f69;
    color: #FFFFFF;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.navbar-form-signup:hover {
    background-color: #4A154B;
    cursor: pointer;
}

.navbar-form-signup a {
    border-left: 10px;
    border-right: 10px;
    border-top: 15px;
    border-bottom: 15px;
    text-decoration: none;
}

.navbar-form-signup a:visited {
    text-decoration: none;
    color: #FFFFFF;
}