.message-form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 80%;
    width: 100%;
    background: white;
}

.message-form {
    width: 95%;
    border: 1px solid #989798;
    border-radius: 4px;
    background: white;
}

.message-form-input {
    margin-left: 10px;
    height: 35px;
    border: none;
    font-size: 14px;
    background-color: transparent;
}

.message-form-input:hover, .message-form-input:focus {
    outline: none;
}

.message-form-input::placeholder {
    color: #989898;
}