.message-form-container {
    position: absolute;
    bottom: 40px;
    width: auto;
}

.message-form-inner-container {
    width: 100%;
}

.message-form {
    width: 100%;
}

.message-form-input {
    width: 100%;
}